:root{
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Manrope', sans-serif;
}

button{
  padding: 0;
  border: none;
  background: none;
}

body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: var(--light-grayish-blue);
}

.article-image{
  grid-area: logo;
  width: 250px;
  height: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-radius: 5px 0 0 5px;
}

.article-box{
  max-width: 800px;
  height: 250px;
  font-size: 13px;

  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-template-areas: 
    "logo  text"
    "logo profile"
  ;

  border-radius: 5px;
  background-color: white;
}

.padding-box{
  grid-area: text;
  padding: 20px 30px;
}

.article-text{
  grid-area: text;
}

.article-text h1{
  Font: 700 20px Manrope;
  color: var(--very-dark-grayish-blue);
  margin-bottom: 10px;
}

.article-text p{
  color: var(--desaturated-dark-blue);
}

.profile-box{
  grid: profile;

  padding: 10px;
  font-size: 10px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-text{
  overflow-wrap: normal;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.profile-text h2{
  width: 150px;
  color: var(--very-dark-grayish-blue);
}

.profile-text h3{
  color: var(--grayish-blue);
}

.share-block{
  display: flex;
  flex-direction: column;
}

.share-options.hide{
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.share-options{
  transition: 400ms;
  display: flex;

  transform: translate(90px, -50px);

  align-content: center;
  align-items: center;
  justify-content: center;
  
  text-align: center;
  color: white;
  font-weight: bold;

  width: 160px;
  height: 40px;
  
  border-radius: 10px;
  background: var(--very-dark-grayish-blue);
}

.share-options img{
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.share-button{
  background: var(--light-grayish-blue);
  width: 30px;
  height: 30px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.share-button img{
  width: 15px;
  height: 15px;
}

.attribution{
  transform: translateY(28vh)
}